In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import confusion_matrix

In [2]:
df=pd.read_csv(r"C:\Users\Marina\Downloads\diabetes\diabetes.csv")

In [3]:
df.head()

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,1,193,77,49,"3,9",19,female,61,119,"22,5",118,70,32,38,"0,84",No diabetes
1,2,146,79,41,"3,6",19,female,60,135,"26,4",108,58,33,40,"0,83",No diabetes
2,3,217,75,54,4,20,female,67,187,"29,3",110,72,40,45,"0,89",No diabetes
3,4,226,97,70,"3,2",20,female,64,114,"19,6",122,64,31,39,"0,79",No diabetes
4,5,164,91,67,"2,4",20,female,70,141,"20,2",122,86,32,39,"0,82",No diabetes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_number   390 non-null    int64
 1   cholesterol      390 non-null    int64
 2   glucose          390 non-null    int64
 3   hdl_chol         390 non-null    int64
 4   chol_hdl_ratio   390 non-null    object
 5   age              390 non-null    int64
 6   gender           390 non-null    object
 7   height           390 non-null    int64
 8   weight           390 non-null    int64
 9   bmi              390 non-null    object
 10  systolic_bp      390 non-null    int64
 11  diastolic_bp     390 non-null    int64
 12  waist            390 non-null    int64
 13  hip              390 non-null    int64
 14  waist_hip_ratio  390 non-null    object
 15  diabetes         390 non-null    object
dtypes: int64(11), object(5)
memory usage: 48.9+ KB

In [5]:
df['chol_hdl_ratio'] = df['chol_hdl_ratio'].str.replace(',', '.').astype(float)
df['waist_hip_ratio'] = df['waist_hip_ratio'].str.replace(',', '.').astype(float)
df['bmi'] = df['bmi'].str.replace(',', '.').astype(float)
df

,patient_number,cholesterol,glucose,hdl_chol,chol_hdl_ratio,age,gender,height,weight,bmi,systolic_bp,diastolic_bp,waist,hip,waist_hip_ratio,diabetes
0,1,193,77,49,3.9,19,female,61,119,22.5,118,70,32,38,0.84,No diabetes
1,2,146,79,41,3.6,19,female,60,135,26.4,108,58,33,40,0.83,No diabetes
2,3,217,75,54,4.0,20,female,67,187,29.3,110,72,40,45,0.89,No diabetes
3,4,226,97,70,3.2,20,female,64,114,19.6,122,64,31,39,0.79,No diabetes
4,5,164,91,67,2.4,20,female,70,141,20.2,122,86,32,39,0.82,No diabetes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,386,227,105,44,5.2,83,female,59,125,25.2,150,90,35,40,0.88,No diabetes
386,387,226,279,52,4.3,84,female,60,192,37.5,144,88,41,48,0.85,Diabetes
387,388,301,90,118,2.6,89,female,61,115,21.7,218,90,31,41,0.76,No diabetes
388,389,232,184,114,2.0,91,female,61,127,24.0,170,82,35,38,0.92,Diabetes
389,390,165,94,69,2.4,92,female,62,217,39.7,160,82,51,51,1.00,No diabetes

In [6]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [7]:
df['gender']=df['gender'].replace('female',1)
df['gender']=df['gender'].replace('male',0)

In [8]:
df['diabetes'].unique()

array(['No diabetes', 'Diabetes'], dtype=object)

In [9]:
df['diabetes']=df['diabetes'].replace('Diabetes',1)
df['diabetes']=df['diabetes'].replace('No diabetes',0)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   patient_number   390 non-null    int64
 1   cholesterol      390 non-null    int64
 2   glucose          390 non-null    int64
 3   hdl_chol         390 non-null    int64
 4   chol_hdl_ratio   390 non-null    float64
 5   age              390 non-null    int64
 6   gender           390 non-null    int64
 7   height           390 non-null    int64
 8   weight           390 non-null    int64
 9   bmi              390 non-null    float64
 10  systolic_bp      390 non-null    int64
 11  diastolic_bp     390 non-null    int64
 12  waist            390 non-null    int64
 13  hip              390 non-null    int64
 14  waist_hip_ratio  390 non-null    float64
 15  diabetes         390 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 48.9 KB

In [11]:
df.drop("patient_number", axis=1, inplace=True)

In [12]:
X = df.drop(['diabetes'] , axis=1)
y = df['diabetes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=44, shuffle =True)

In [13]:
RandomForestClassifierModel = RandomForestClassifier(criterion = 'gini',n_estimators=100,max_depth=5,random_state=33) 
RandomForestClassifierModel.fit(X_train, y_train)

print('RandomForestClassifierModel Train Score is : ' , RandomForestClassifierModel.score(X_train, y_train))
print('RandomForestClassifierModel Test Score  is : ' , RandomForestClassifierModel.score(X_test, y_test))

RandomForestClassifierModel Train Score is :  0.9647435897435898
RandomForestClassifierModel Test Score  is :  0.9102564102564102

In [14]:
y_pred = RandomForestClassifierModel.predict(X_test)
print('Predicted Value for RandomForestClassifierModel is : ' , y_pred[:10])
y_test[:10]

Predicted Value for RandomForestClassifierModel is :  [0 0 0 0 0 0 0 1 1 0]

78     0
157    1
246    0
291    0
300    0
364    0
336    0
268    1
357    1
345    0
Name: diabetes, dtype: int64